/* 全局样式表 */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 10px;
}

.el-table {
    margin-top: 20px;
}

.el-pagination {
    margin-top: 20px;

}

.el-cascader__dropdown {
    height: 300px!important;
}
.el-cascader-panel {
    height: 300px!important;
}
